{
  "singleQuote": true,
  "trailingComma": "none",
  "useTabs": true,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "semi": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/providers/(.*)$",
    "^@/services/(.*)$",
    "^@/images/(.*)$",
    "^@/hooks/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "(.scss)$"
  ]
}
