$gray: #797979;

.input {
    @apply relative w-full block border-b mb-5;

    >input {
        @apply py-2 w-full;
        &::placeholder {
            color: $gray;
        }
    }
}

.error {
    @apply absolute -bottom-5 left-0 text-sm w-full text-primary;
    font-size: 0.5rem;
}
